<div class="conatainer">
    <div class="row bg-secondary">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6 border">
                    <app-card></app-card>
                 </div>
                 <div class="col-sm-6 border">
                     <app-card></app-card>
                 </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6 border">
                    <app-card></app-card>
                 </div>
                 <div class="col-sm-6 border">
                     <app-card></app-card>
                 </div>
            </div>
        </div>
    </div>
</div>
